<!DOCTYPE html>
<html lang="en">
<head>
    <title>Postgator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/css/angular.min.js"></script>
    <script type="text/javascript" src="../assets/css/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/css/bootstrap.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javaScript" src="../controllers/user.client.controller.js"></script>


</head>


<body id="grad" ng-app="postgator" ng-controller="postController" onclick="change()">
<a href ="login.blade.php"><button type="submit" ><b>Log In</b></button></a>




</body>